Repository SE2-Gruppe-5/risc-game-backend, pull requests merged in 2025-05, with the labels that each got.

#56 Main Game Loop
  build.gradle
  src/main/java/com/se2gruppe5/risikobackend/chat/controllers/ChatController.java
  src/main/java/com/se2gruppe5/risikobackend/chat/messages/ChatMessage.java
  src/main/java/com/se2gruppe5/risikobackend/common/objects/Card.java
  src/main/java/com/se2gruppe5/risikobackend/common/objects/CardType.java
  src/main/java/com/se2gruppe5/risikobackend/common/objects/Player.java
  src/main/java/com/se2gruppe5/risikobackend/common/objects/Territory.java
  src/main/java/com/se2gruppe5/risikobackend/common/repositories/AbstractRepository.java
  src/main/java/com/se2gruppe5/risikobackend/common/repositories/Repository.java
  src/main/java/com/se2gruppe5/risikobackend/common/util/IdUtil.java
  src/main/java/com/se2gruppe5/risikobackend/game/controllers/GameController.java
  src/main/java/com/se2gruppe5/risikobackend/game/messages/ChangeTerritoryMessage.java
  src/main/java/com/se2gruppe5/risikobackend/game/messages/UpdatePhaseMessage.java
  src/main/java/com/se2gruppe5/risikobackend/game/messages/UpdatePlayersMessage.java
  src/main/java/com/se2gruppe5/risikobackend/game/objects/Game.java
  src/main/java/com/se2gruppe5/risikobackend/game/repositories/GameRepository.java
  src/main/java/com/se2gruppe5/risikobackend/game/repositories/GameRepositoryImpl.java
  src/main/java/com/se2gruppe5/risikobackend/game/services/GameService.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/controllers/LobbyController.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/messages/GameStartMessage.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/messages/JoinLobbyMessage.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/messages/LeaveLobbyMessage.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/objects/Lobby.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/repositories/LobbyRepository.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/repositories/LobbyRepositoryImpl.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/services/LobbyService.java
  src/main/java/com/se2gruppe5/risikobackend/sse/Message.java
  src/main/java/com/se2gruppe5/risikobackend/sse/MessageType.java
  src/main/java/com/se2gruppe5/risikobackend/sse/controllers/SseController.java
  src/main/java/com/se2gruppe5/risikobackend/sse/messages/SetUuidMessage.java
  src/main/java/com/se2gruppe5/risikobackend/sse/repositories/SseSinkRepository.java
  src/main/java/com/se2gruppe5/risikobackend/sse/repositories/SseSinkRepositoryImpl.java
  src/main/java/com/se2gruppe5/risikobackend/sse/services/SseBroadcastService.java
  src/main/resources/application.properties
  src/test/java/com/se2gruppe5/risikobackend/chat/controllers/ChatControllerUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/controllers/GameControllerUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/repositories/GameRepositoryImplUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/services/GameServiceUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/lobby/controllers/LobbyControllerUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/lobby/repositories/LobbyRepositoryImplUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/lobby/services/LobbyServiceUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/sse/controllers/SseControllerUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/sse/repositories/SseSinkRepositoryImplUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/sse/services/SseBroadcastServiceUnitTest.java
Labels: feature, backend, epic

#59 Change http method of assign territories
  src/main/java/com/se2gruppe5/risikobackend/game/controllers/GameController.java
Labels: bug, backend, frontend

#61 Sprint-2 Fixup
  build.gradle
  src/main/java/com/se2gruppe5/risikobackend/common/objects/Player.java
  src/main/java/com/se2gruppe5/risikobackend/game/controllers/GameController.java
  src/main/java/com/se2gruppe5/risikobackend/game/messages/UpdatePlayersMessage.java
  src/main/java/com/se2gruppe5/risikobackend/game/objects/Game.java
  src/main/java/com/se2gruppe5/risikobackend/game/services/GameService.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/services/LobbyService.java
  src/test/java/com/se2gruppe5/risikobackend/game/controllers/GameControllerUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/messages/ChangeTerritoryMessageUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/messages/UpdatePhaseMessageUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/messages/UpdatePlayersMessageUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/objects/GameUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/repositories/GameRepositoryImplUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/services/GameServiceUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/lobby/services/LobbyServiceUnitTest.java
Labels: bug, backend, chore
