Repository SE2-Gruppe-5/risc-game-backend, pull requests merged in 2025-06, with the labels that each got.

#64 Implement fixmes from code review
  src/main/java/com/se2gruppe5/risikobackend/game/controllers/GameController.java
  src/main/java/com/se2gruppe5/risikobackend/game/services/GameService.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/controllers/LobbyController.java
  src/main/java/com/se2gruppe5/risikobackend/sse/services/SseBroadcastService.java
  src/test/java/com/se2gruppe5/risikobackend/game/controllers/GameControllerUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/objects/GamePhaseUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/objects/GameUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/services/GameServiceUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/sse/repositories/SseSinkRepositoryImplUnitTest.java
Labels: backend

#71 Add reason to leaving a lobby
  src/main/java/com/se2gruppe5/risikobackend/lobby/controllers/LobbyController.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/messages/LeaveLobbyMessage.java
  src/main/java/com/se2gruppe5/risikobackend/lobby/services/LobbyService.java
  src/test/java/com/se2gruppe5/risikobackend/lobby/controllers/LobbyControllerUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/lobby/services/LobbyServiceUnitTest.java
Labels: feature, backend

#69 Add abandon game endpoint
  src/main/java/com/se2gruppe5/risikobackend/common/objects/Player.java
  src/main/java/com/se2gruppe5/risikobackend/game/controllers/GameController.java
  src/main/java/com/se2gruppe5/risikobackend/game/objects/Game.java
  src/test/java/com/se2gruppe5/risikobackend/game/controllers/GameControllerUnitTest.java
Labels: backend, enhancement

#68 Cheat-Accusation
  src/main/java/com/se2gruppe5/risikobackend/game/controllers/GameController.java
  src/main/java/com/se2gruppe5/risikobackend/game/messages/CheatAccusationMessage.java
  src/main/java/com/se2gruppe5/risikobackend/sse/MessageType.java
  src/test/java/com/se2gruppe5/risikobackend/game/controllers/GameControllerUnitTest.java
  src/test/java/com/se2gruppe5/risikobackend/game/messages/CheatAccusationMessageUnitTest.java
Labels: feature, backend
